// .collapsed > #navlist {
// 	display: none;
// 	height: 0;
// }
#navbar {
	// height: 0;
	position: fixed;
	// background-color: tan;
	left: 2em;
	top: 2em;
	transition: height 1s;
	// width: em;
	& * {
		font-size: 1.5rem;
	}
	z-index: 999;
	width: 12.5em;
}
#navlist {
	& > * {
		list-style: none;
		height: 0;
		transition: height 1s;
		overflow: hidden;
		// transition: height 1s;
	}
	list-style: none;
	height: 0;
	transition: height 1s;
	overflow: hidden;
	background-color: #d2b58d;
	background-image: url("/assets/images/scrolls/vertical scroll 1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	// padding: 1em;
	margin-bottom: 0;
}
#navbar.visible > #navlist, 
#navbar.visible, 
#navbar.visible > #navlist * {
	height: auto;
}

.bubble {
	border: 1px solid black;
	height: 2em;
	background-color: tan;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.bubble-top {
	background-image: url("/assets/images/scrolls/scroll top.png");
}
.bubble-bottom{
	background-image: url("/assets/images/scrolls/scroll bottom.png");
	
}

@media only screen and (max-width: 1200px){
	.bubble-bottom{
		display:none;
	}
	#navbar {
		width: 100%;
		position: initial;
	}
}