// .collapsed > #navlist {
// 	display: none;
// 	height: 0;
// }
#navbar {
	height: 0;
	position: fixed;
	background-color: tan;
	right: 2em;
	top: 2em;
	transition: height 1s;
	// width: em;
	& * {
		font-size: 1.5em;
	}
	z-index: 999;
	width: 25em;
}
#navlist {
	& * {
		list-style: none;
		height: 0;
		transition: height 1s;
		overflow: hidden;
		transition: height 1s;
	}
	list-style: none;
	height: 0;
	transition: height 1s;
	overflow: hidden;
	padding: 1em;
}
#navbar:hover > #navlist, 
#navbar:hover, 
#navbar:hover > #navlist * {
	height: auto;
}

.bubble {
	border: 1px solid black;
	height: 1em;
}