nav#navbar.collapsed()
	.bubble.bubble-top(onclick="toggle()")
		//- | nothing
	.navheader
		a
			img(src="")
		a
			img(src="")
		a Fr
	ul#navlist
		+navlink("/", "Home", "")
		+navlink("/roster/", "Roster", "Militia.png")
		+navlink("/robot/", "Robot", "Warfront.png")
		+navlink("/library/", "Library", "Archives.png")
		+navlink("/video/", "Video", "Amphitheater.svg")


	
//- nav.navbar.navbar-expand-lg.navbar-light.bg-light 
//- 	a.navbar-brand Navbar 
//- 	button.navbar-toggler(type="button", data-toggle="collapse")