nav#navbar.collapsed()
	.bubble
		//- | nothing
	ul#navlist
		a(href="/")
			li.navlink
				| Home 
		a(href="/roster/")
			li.navlink
				| Roster
		li.navlink
			| Test
		li.navlink
			| Test
		li.navlink
			| Test
	.bubble
		//- | nothing