nav#navbar.collapsed()
	.bubble.bubble-top(onclick="toggle()")
		//- | nothing
	ul#navlist
		a(href="/")
			li.navlink
				| Home
		a(href="/roster/")
			li.navlink
				| Roster
		a(:href="" title="title")
			li.navlink
				| Robot
		a(:href="" title="title")
			li.navlink
				| Library
		a(:href="" title="title")
			li.navlink
				| Videos
	.bubble.bubble-bottom(onclick="toggle()")
		//- | nothing

	
//- nav.navbar.navbar-expand-lg.navbar-light.bg-light 
//- 	a.navbar-brand Navbar 
//- 	button.navbar-toggler(type="button", data-toggle="collapse")