nav#navbar.collapsed()
	.bubble.bubble-top(onclick="toggle()")
		//- | nothing
	ul#navlist
		a(href="/")
			li.navlink
				| Home 
		a(href="/roster/")
			li.navlink
				| Roster
		li.navlink
			| Test
		li.navlink
			| Test
		li.navlink
			| Test
	.bubble.bubble-bottom(onclick="toggle()")
		//- | nothing

	
//- nav.navbar.navbar-expand-lg.navbar-light.bg-light 
//- 	a.navbar-brand Navbar 
//- 	button.navbar-toggler(type="button", data-toggle="collapse")