mixin member
	div.card.p-3.mx-3.my-2(style="width: 20rem")
		div.card-header Vanessa Siev
		img.card-img-top.img-fluid(src="assets/images/cassidy_Cassidy Grande 2.jpg")
		div.card-body
			div.card-title
			h5.card-subtitle Teams
			p.card-text Captain
			hr
			h5.card-subtitle Most memorable event(s) in robotics for 2020-2021:
			p.card-text Team microsoft calls with the sub-teams
			hr
			h5.card-subtitle What is your favorite Roman numerals?
			p.card-text VI
			hr
			h5.card-subtitle Who is your favorite emperor?
			p.card-text Marcus Aurelius
			hr
			h5.card-subtitle What job would you want to have in being a part of the Roman Empire?
			p.card-text Teacher